# fly.toml app configuration file generated for garden-api on 2026-02-03T22:29:41-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'garden-api'
primary_region = 'sjc'

[experimental]

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = '3000'

[[services]]
  internal_port = 3000
  protocol = "tcp"

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

[[mounts]]
  source = "data"
  destination = "/data"

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
